.card-label-container{
	position: absolute;
	bottom:5.625rem;
	right: 0;
}

.card-label-content{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0d0d0d;
	color: white;
	font-size: 0.75rem;
	font-family: 'Segoe UI';
	font-weight: bold;
	height: 2.5rem;
	padding: 0 1.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
