<div class="home-container">
  <app-card gameCover="assets/spider-man-2.avif" [gameLabelIsAlive]="true" gameLabel="EXCLUSIVE" title="Comprar na pré-venda" gameType="DIGITAL PS5|PS4" gamePrice="R$ 299,00"></app-card>
  <app-card gameCover="assets/rdr.avif" [gameLabelIsAlive]="false" gameType="DIGITAL PS4" gamePrice="R$ 99,00"></app-card>
  <app-card gameCover="assets/tlou-2.avif" [gameLabelIsAlive]="true" gameLabel="EXCLUSIVE" gameType="DIGITAL PS5|PS4" gamePrice="R$ 249,00"></app-card>
  <app-card gameCover="assets/bt-5.jpg" [gameLabelIsAlive]="false" gameType="DIGITAL PS5|PS4" gamePrice="R$ 199,00"></app-card>
  <app-card gameCover="assets/ff-16.avif" [gameLabelIsAlive]="true" gameLabel="EXCLUSIVE" title="Comprar na pré-venda" gameType="DIGITAL PS5" gamePrice="Gratuito"></app-card>
  <app-card gameCover="assets/baldurs-gate.avif" [gameLabelIsAlive]="false" gameType="DIGITAL PS5" gamePrice="R$ 299,00"></app-card>
</div>
